body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }
  .menu{
    margin-top: -16px;
    margin-left: -8px;

    background-color: #5450D1;
  }
  .menuFoto1{
    height: 90px;
    margin-left: 230px;
    margin-top: -5px;
  }
  .menuFoto2{
    height: 95px;
    margin-left: 220px;
    margin-top: -5px;
    margin-bottom: -2px;
  }
  .menuFoto3{
    height: 110px;
    margin-left: 220px;
    margin-top: -5px;
    margin-bottom: -10px;
  }
  .menuFoto4{
    height: 102px;
    margin-left: 220px;
    margin-top: -5px;
    margin-bottom: -6px;
  }


h1 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

#image1{
  position: absolute;
  width: 232px;
  height: 200px;
  left: 68px;
  top: 150px;
  margin-top: -5px;
  margin-left: -50px;
}


#image2{
  position: absolute;
  width: 232px;
  height: 200px;
  left: 80px;
  top: 150px;
  margin-top: -5px;
  margin-left: 320px;
}


#image3{
  position: absolute;
  width: 232px;
  height: 200px;
  left: 785px;
  top: 150px;
  margin-top: -5px;
 
}

#image4{
  position: absolute;
  width: 232px;
  height: 200px;
  left: 1168px;
  top: 150px;
  margin-top: -5px;
  
}
@media (max-width: 576px){
  .menu{
      width: 100%;
      height: 70px;
      margin-left: 0;
  }
  .menuFoto1,
  .menuFoto2,
  .menuFoto3,
  .menuFoto4,
  .menuFoto
   {
    height: 60px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: -10px;
    margin-right: 20px;
  }
}