body{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}
.menu{
  height: 99px;
  margin-top: -16px;
  margin-left: -8px;
  background-color: #5450D1;
}
.menuFoto{
  height: 90px;
  margin-left: 220px;
  margin-top: -5px;
}
.menuFoto1{
  height: 90px;
  margin-left: 230px;
  margin-top: -5px;
  
}
.menuFoto2{
  height: 110px;
  margin-left: 220px;
  margin-top: -5px;
  margin-bottom: -10px;
}
.tekst{
  position: absolute;
  width: 239px;
  height: 131px;
  left: 650px;
  top: 150px;
  text-align: center;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
}
.tekst1{
  position: absolute;
  width: 594px;
  height: 267px;
  left: 767px;
  top: 220px;
  text-align: center;
  font-family: Lucida Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

}
.tekst2{
  position: absolute;
  width: 580px;
  height: 267px;
  left: 767px;
  top: 478px;
  text-align: center;
  font-family: Lucida Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
#image{
  position: absolute;
  width: 632px;
  height: 379px;
  left: 88px;
  top: 250px;
  margin-top: -5px;
  background-image: url(img/sport2.jpg);
}
@media (max-width: 576px) {
  .menu {
    height: auto;
    display: flex;
    justify-content: space-around;
  }

  .menuFoto1,
  .menuFoto2,
  .menuFoto
   {
    height: 60px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: 20px;
  }
  .tekst{
    width: 90%;
    height: 131px;
    left: 20px;
    top: 400px;
    font-size: 50px;
    text-align: left;
  }
  .tekst1{
    width: 90%;
    height: 267px;
    left: 20px;
    top: 550px;
    font-size: 11px;
    text-align: left;
  }
  .tekst2{
    width: 90%;
    height: 267px;
    left: 20px;
    top: 763px;
    font-size: 11px;
    text-align: left;
  }
  #image{
  position: absolute;
  width: 390px;
  height: 197px;
  left: 0px;
  top: 120px;
  background: url(img/sportphone.jpg);
  }
}