body{
background-color: whitesmoke;
}
.menu{
  height: 100px;
  width: 1536px;
  margin-top: -8px;
  margin-left: -8px;
  background-color: #5450D1;
}
.menuFoto{
  height: 90px;
  margin-left: 220px;
  margin-top: -5px;
}
#profielFoto img {
  width: 369px;
  height: 330px;
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 20px;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.521);
}
#profielbox{
  width: 900px;
  border-radius: 10px;
  height: 330px;
  margin-left: 500px;
  margin-top: -334px;
  background-color: white;
}
#naam{
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 60px;
  left: 820px;
  top: 194px;
  background: #F5F5F5;
  border-radius: 20px;
}
#Leeftijd{
  position: absolute;
  width: 500px;
  height: 60px;
  left: 820px;
  top: 284px;
  background: #F5F5F5;
  border-radius: 20px;
}
#E-mail{
  position: absolute;
  width: 500px;
  height: 60px;
  left: 820px;
  top: 374px;
  background: #F5F5F5;
  border-radius: 20px;
}
#naamtext{
  position: absolute;
  z-index: 5;
  color: rgb(6, 6, 6);
  left: 650px;
  top: 194px;
  border-radius: 20px;
  font-size: 30px;
  font-family: Arial, sans-serif;
}
#Leeftijdtext{
  position: absolute;
  left: 650px;
  top: 284px;
  border-radius: 20px;
  font-size: 30px;
  font-family: Arial, sans-serif;
}
#E-mailtext{
  position: absolute;
  left: 650px;
  top: 374px;
  border-radius: 20px;
  font-size: 30px;
  font-family: Arial, sans-serif;
}
#bewerken{
  width: 100px;
  background-color: white;
  border: none;
  position: absolute;
  bottom: 30px;
  margin-left: 1400px;
}
#loguit{
  width: 100px;
  background-color: white;
  border: none;
  position: absolute;
  bottom: 30px;
  margin-left: 1280px;
}
