body{
background-color: whitesmoke;
}
.menu{
  margin-top: -16px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #5450D1;
}
.menuFoto{
  height: 90px;
  margin-left: 220px;
  margin-top: -5px;
}
.menuFoto1{
  height: 90px;
  margin-left: 222px;
  margin-top: -5px;
  
}
.menuFoto2{
  height: 110px;
  margin-left: 220px;
  margin-top: -5px;
  margin-bottom: -10px;
}
.menuFoto3{
  margin-left: 220px;
  margin-top: -5px;
  height: 95px; 
  margin-bottom: -2px;
}
.menuFoto4{
  margin-left: 220px;
  margin-top: -5px;
  height: 102px; 
  margin-bottom: -6px;
}
#profielFoto img {
  width: 369px;
  height: 330px;
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 20px;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.521);
}
#profielbox{
  width: 900px;
  border-radius: 10px;
  height: 330px;
  margin-left: 500px;
  margin-top: -334px;
  background-color: white;
}
#naam{
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 60px;
  left: 820px;
  top: 194px;
  background: #F5F5F5;
  border-radius: 20px;
}
#Leeftijd{
  position: absolute;
  width: 500px;
  height: 60px;
  left: 820px;
  top: 284px;
  background: #F5F5F5;
  border-radius: 20px;
}
#E-mail{
  position: absolute;
  width: 500px;
  height: 60px;
  left: 820px;
  top: 374px;
  background: #F5F5F5;
  border-radius: 20px;
}
#naamtext{
  position: absolute;
  z-index: 5;
  color: rgb(6, 6, 6);
  left: 650px;
  top: 194px;
  border-radius: 20px;
  font-size: 30px;
  font-family: Arial, sans-serif;
}
#Leeftijdtext{
  position: absolute;
  left: 650px;
  top: 284px;
  border-radius: 20px;
  font-size: 30px;
  font-family: Arial, sans-serif;
}
#E-mailtext{
  position: absolute;
  left: 650px;
  top: 374px;
  border-radius: 20px;
  font-size: 30px;
  font-family: Arial, sans-serif;
}
#bewerken{
  border: none;
  position: absolute;
  bottom: 30px;
  margin-left: 1380px;
  background-color: #5450D1; 
  color: white; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: Lucida Sans;
}
#loguit{
  width: 100px;
  background-color: white;
  border: none;
  position: absolute;
  bottom: 30px;
  margin-left: 1250px;
  background-color: #5450D1; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: Lucida Sans;
}
.button{
  background-color: #5450D1; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: Lucida Sans;
}
@media (max-width: 576px) {
  .menu {
    height: 90px;
    display: flex;
    justify-content: space-around;
  }

  .menuFoto1,
  .menuFoto2,
  .menuFoto3,
  .menuFoto4,
  .menuFoto
   {
    height: 60px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: -10px;
    margin-right: 20px;
  }
  #profielFoto img {
    width: 90%;
    height: 330px;
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.521);
  }
  #profielbox{
    width: 90%;
    border-radius: 10px;
    height: 690px;
    margin-left: 20px;
    margin-top: 4px;
    background-color: white;
  }
  #naam{
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 60px;
    left: 40px;
    top: 594px;
    background: whitesmoke;
    border-radius: 20px;
  }
  #Leeftijd{
    position: absolute;
    width: 80%;
    height: 60px;
    left: 40px;
    top: 794px;
    background: whitesmoke;
    border-radius: 20px;
  }
  #E-mail{
    position: absolute;
    width: 80%;
    height: 60px;
    left: 40px;
    top: 994px;
    background: whitesmoke;
    border-radius: 20px;
  }
  #naamtext{
    position: absolute;
    z-index: 5;
    inline-size: 10px;
    color: rgb(6, 6, 6);
    left: 50px;
    top: 524px;
    white-space: pre;
    border-radius: 20px;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }
  #Leeftijdtext{
    position: absolute;
    left: 0px;
    top: 284px;
    border-radius: 20px;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }
  #E-mailtext{
    position: absolute;
    left: 0px;
    top: 374px;
    border-radius: 20px;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }
  #bewerken{
    width: 100px;
    background-color: white;
    border: none;
    position: absolute;
    left: 40px;
    top: 1100px;
    margin-left: -10px;
  }
  #loguit{
    width: 100px;
    background-color: white;
    border: none;
    position: absolute;
    bottom: 30px;
    left: 270px;
    top: 1100px;
    margin-left: -10px;
  }
}