body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
  }
  .menu{
    height: 100px;
    width: 1544px;
    margin-left: -8px;
    background-color: #5450D1;
  }
  .menuFoto{
    height: 90px;
    margin-left: 220px;
    margin-top: 5px;
  }